.mega-dropdown {
  display: flex;
  padding: 1rem 2rem;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 100%;

  .columns {
    display: flex;
    gap: 2rem;

    .column {
      min-width: 180px;

      h4 {
        font-size: 15px;
        margin-bottom: 0.5rem;
        font-weight: bold;
      }

      li {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 8px;
        font-size: 14px;

        .icon {
          background: #f2f2f2;
          padding: 5px;
          border-radius: 6px;
          font-size: 18px;
        }
      }
    }
  }
}
