<header #headerRef class="header">
  <div class="left-section">
    <nav class="nav-links">
      <img src="assets/codeBond.svg" class="logo" alt="CodeBond" />
      <ng-container *ngFor="let item of navItems">
        <div
          class="nav-item"
          [class.active]="isDropdownOpen(item.name)"
          (click)="toggleDropdown(item.name)"
        >
          <app-nav-button
            [label]="item.name"
            [active]="isDropdownOpen(item.name)"
            (action)="toggleDropdown(item.name)"
          ></app-nav-button>
        </div>

        <app-mega-dropdown
          *ngIf="item.megaMenu && isDropdownOpen(item.name)"
          [columns]="item.megaMenu.columns"
          [image]="item.megaMenu.image"
          [isOpen]="true"
          (itemSelected)="onMegaItemClick($event)"
        ></app-mega-dropdown>
      </ng-container>
    </nav>
  </div>

  <div class="right-section">
    <ng-container *ngFor="let link of rightLinks">
      <a routerLink="/" class="right-link">{{ link }}</a>
    </ng-container>
    <span class="cart-icon">🛒</span>
  </div>
</header>
